<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>同致相伴，一路顺畅</title>
    <link rel="icon" href="bulid/img/defaultLogo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="bulid/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bulid/css/login.css">
    <link rel="stylesheet" href="bulid/css/foot.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="bulid/css/base.css">
    <link rel="stylesheet" href="bulid/css/index.css">
    <link rel="stylesheet" href="bulid/css/brand.css">
    <link rel="stylesheet" href="bulid/css/drawer.css">
    <link rel="stylesheet" href="bulid/css/myself.css">
    <link rel="stylesheet" href="bulid/css/jigsaw.css">
    <link rel="stylesheet" href="bulid/css/pick-pcc.css">
    <script src="bulid/js/hm.baidu.min.js"></script>
    <style>
        .credit>span{
            background: #E9E9E9;
            width: 50%;
            text-align: center;
            padding: 12px 0;
            color: #000;
            cursor: pointer;
        }
        .credit>span.active{
            background: #E92F00;
            color: #fff;
        }
    </style>
</head>
<body>
<!--内容-->
<div id="index" v-cloak class="container-fluid" style="padding: 0;">
    <jxky-header></jxky-header>
    <!--导航-->
    <jxky-nav title="myself"></jxky-nav>

    <section>
        <div class="dis_flex myselfHead" style="padding: 5px 10px 20px;">
            <div @click="handleClick($event)" class="active">用户中心</div>
            <div @click="handleClick($event)">我的订单</div>
            <div @click="handleClick($event)">购物车</div>
            <div @click="handleClick($event)">我的收藏</div>
            <!--<div @click="handleClick($event)">店铺收藏</div>-->
            <div @click="handleClick($event)">收货地址管理</div>
            <div @click="handleClick($event)">我的足迹</div>
        </div>
    </section>
    <section style="min-height: 400px;">
        <!--个人中心-->
        <div v-if="index == 1">
            <section
                    style="background: url('bulid/img/biguser.png') no-repeat;height: 204px;padding: 50px 30px;color: #000;background-size: contain;"
                    class="dis_flex">
                <div style="position: relative;">
                    <img style="position: absolute;right: 0;top: 0;" src="bulid/img/headImgPr.png" alt="">
                    <div style="width: 100px;height: 100px;border-radius: 50%;padding: 0;overflow: hidden;margin: 0 auto;">
                        <form id="form">
                            <label for="imgHead" style="display: inline;"><img style="width: 100px;height: 100px;" id="show" :src="vm.user.head_img" alt=""></label>
                            <input onchange="changepic(this)" style="display: none;position: absolute;" accept="image/*" name="file" type="file" id="imgHead">
                        </form>
                    </div>
                </div>
                <div class="myselfDiv">
                    <div>{{myself.Username}}</div>
                    <div>当前手机绑定：{{myself.mobile}}</div>
                    <div><span class="hover_head">我的消息：{{myself.online||0}}</span></div>
                </div>
                <div class="myselfDiv">
                    <div>我的余额：<span style="color: red">￥{{myself.b2b_balance||0}}</span></div>
                    <div><span class="hover_head" title="金币可下载APP签到获得！">我的金币：{{myself.gold||0}}</span></div>
                    <!--<div><span @click="credit" class="hover_head" title="积分可通过购买商品获得！">信用额度：<span style="color: red">￥{{myself.point||0}}</span></span></div>-->
                </div>
                <div class="myselfDiv">
                    <div><span class="hover_head">积分兑换</span></div>
                    <!--<div><span class="hover_head" onclick="window.location.href='coupon.html'">我的优惠券</span></div>-->
                    <div><span class="hover_head">我的优惠券</span></div>
                    <div><span class="hover_head">我的发票</span></div>
                </div>
                <div class="myselfDiv">
                    <div><span class="hover_head">设备换新补贴</span></div>
                    <div><span data-toggle="modal" data-target="#myModal" class="hover_head">支付密码设置</span></div>
                    <div><span data-toggle="modal" data-target="#myModalMess" class="hover_head">修改登录密码</span></div>
                    <div><span class="hover_head">我的福利</span></div>
                </div>
            </section>
            <!--<section style="background: #f5f5f5;padding: 0 25px 25px;margin-top: 20px;">-->
                <!--<div style="color: #000;font-size: 1.2em;padding: 10px 20px;">最新设备推荐</div>-->
                <!--<jxky-mygoods></jxky-mygoods>-->
            <!--</section>-->
            <!--支付密码设置-->
            <div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModal" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel">
                <div class="pa_tc" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">支付密码设置</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="loginmt bor">
                                    <span class="borBT"><i class="fa fa-mobile" style="font-size: 30px"
                                                           aria-hidden="true"></i></span>
                                    <input type="text" class="intBor phoneReg" maxlength="11" placeholder="请输入手机号码">
                                </div>
                                <div class="loginmt bor">
                                    <span class="borBT"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                                    <input type="text" class="intBor codeReg" style="width: 120px;" maxlength="6"
                                           placeholder="请输入验证码">
                                    <span class="vert" @click="codeClick($event,'SetPayPassWord')">{{codes}}</span>
                                </div>
                                <div class="loginmt1 bor">
                                    <span class="borBT">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" onkeyup="this.value=this.value.replace(/\D/g,'')" class="intBor pass1" placeholder="请输入新密码(纯数字)">
                                </div>
                                <div class="loginmt1 bor">
                                    <span class="borBT">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" onkeyup="this.value=this.value.replace(/\D/g,'')" class="intBor pass2" placeholder="请确认新密码">
                                </div>
                                <div class="loginmt">
                                    <div @click="submit($event,'UserSetPayPassWord')" class="loginBtn" style="background: #D5282C">保 存</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModalMess" tabindex="-1"
                 role="dialog" aria-labelledby="myModalLabel">
                <div class="pa_tc" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">登录密码设置</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="loginmt bor">
                                    <span class="borBT"><i class="fa fa-mobile" style="font-size: 30px"
                                                           aria-hidden="true"></i></span>
                                    <input type="text" class="intBor phoneReg" maxlength="11" placeholder="请输入手机号码">
                                </div>
                                <div class="loginmt bor">
                                    <span class="borBT"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                                    <input type="text" class="intBor codeReg" style="width: 120px;" maxlength="6"
                                           placeholder="请输入验证码">
                                    <span class="vert" @click="codeClick($event,'UserSetPassWord')">{{codes}}</span>
                                </div>
                                <div class="loginmt1 bor">
                                    <span class="borBT">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" class="intBor pass1" placeholder="请输入新密码">
                                </div>
                                <div class="loginmt1 bor">
                                    <span class="borBT">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </span>
                                    <input type="password" class="intBor pass2" placeholder="请确认新密码">
                                </div>
                                <div class="loginmt">
                                    <div @click="submit($event,'UserSetPassWord')" class="loginBtn" style="background: #D5282C">保 存</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--我的订单-->
        <div v-else-if="index == 2" id="scroll">
            <div class="cr">
                <div @click="orderStatus($event,'all')" class="orderStatus active">所有订单</div>
                <div @click="orderStatus($event,'stay_payment')" class="orderStatus">待付款({{order1Num}})</div>
                <div @click="orderStatus($event,'stay_shipment')" class="orderStatus">待发货({{order2Num}})</div>
                <div @click="orderStatus($event,'stay_take')" class="orderStatus">待收货({{order3Num}})</div>
                <div @click="orderStatus($event,'stay_evaluate')" class="orderStatus">待评价({{order4Num}})</div>
                <!--<div @click="orderStatus($event,'stay_evaluate')" class="orderStatus">退款/售后</div>-->
            </div>
            <div>
                <div style="margin-top: 20px;min-height: 300px">
                    <table v-if="orderShow" class="table">
                        <thead>
                        <tr>
                            <th width="40%">订单商品</th>
                            <th width="12%">单价</th>
                            <th width="12%">数量</th>
                            <th width="12%">实付款</th>
                            <th width="12%">交易状态</th>
                            <th width="12%">交易操作</th>
                        </tr>
                        </thead>
                        <tbody v-for="item in myOrder">
                        <tr style="background: #F1F1F1;font-size: 1.1em;border: 1px solid #ddd;border-bottom: none">
                            <td colspan="6" style="text-align: left">
                                <span style="padding-right: 50px">{{item.add_time}} &nbsp;&nbsp;&nbsp;&nbsp; 订单号：{{item.order_seqno}}</span>
                                <span style="display: inline-block;min-width: 200px;color: #D5282C">{{item.shop_name}}</span>
                                <span style="color: #6BC7EE" class="hoverOpacity"><i class="fa fa-commenting-o" aria-hidden="true"></i>联系客服</span>
                                <span style="float: right;color: #999;font-size: 1.1em">
                                        <span @click="onceAgain(item.aid)" class="hoverRed" style="color: #ff8c00;padding-right: 8px;font-size: .8em;">再来一单</span>
                                        <!--<i class="fa fa-share-square-o hoverRed" style="margin-right: 10px;"-->
                                           <!--aria-hidden="true"></i>-->
                                        <i @click="scdd($event,item.aid)" class="fa fa-trash-o hoverRed"
                                           style="margin-right: 10px;" aria-hidden="true"></i>
                                    </span>
                            </td>
                        </tr>
                        <tr v-for="(it,itIndex) in item.child_data" style="border: 1px solid #ddd;border-top: none">
                            <td style="text-align: left">
                                <div style="width: 100px;height: 100px;padding: 2px;overflow: hidden;display: inline-block;">
                                    <img style="width: 100%;height: 100%;" :src="it.img_url" alt="">
                                </div>
                                <div style="display: inline-block;width: 350px;overflow: hidden;vertical-align: top;padding: 10px;">
                                    <div style="height: 62px;overflow: hidden;"><span class="hover_head"
                                                                                      @click="vm.dorShopDetail(it.product_id,'')">{{it.product_title}}</span>
                                    </div>
                                    <div v-if="it.motion_id!=0" style="display: inline-block;">
                                        <div style="display: inline-block;color: #aaa">促销信息 <span
                                                style="color: #fff;background: #D5282C;padding: 0 8px;">{{it.reduce_title}}</span>
                                        </div>
                                        <div v-if="it.gift&&it.gift.length!=0"
                                             style="border: 1px solid #D5282C;padding: 3px;display: inline-block;color: #D5282C">
                                            当前赠送：
                                            <span v-for="its in it.gift">
                                                <img class="toolimg" :alt="its.product_title" :src="its.product_img"/>
                                                <span>x{{its.product_number}}</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="color: #D5282C;font-size: 1.3em;font-weight: bold">￥{{it.real_price}}</div>
                                <div style="font-size: .8em;color: #ccc;text-decoration: line-through;">
                                    ￥{{it.product_price}}
                                </div>
                            </td>
                            <td style="border-right: 1px solid #ddd;">{{it.quantity}}</td>
                            <td v-if="!itIndex" style="border-right: 1px solid #ddd;" :rowspan="item.child_data.length">
                                <div style="color: #D5282C;font-size: 1.3em;font-weight: bold">
                                    ￥{{item.amount_pay_able}}
                                </div>
                                <div style="font-size: .8em;color: #ccc;">(含运费：￥{{item.amount_offset}})</div>
                            </td>
                            <td v-if="!itIndex" style="border-right: 1px solid #ddd;" :rowspan="item.child_data.length">
                                <div>{{item.status}}</div>
                                <div><span @click="orDetail(item.aid)" class="hoverRed">订单详情</span></div>
                                <div v-if="item.payment_type=='线下支付'"><span @click="dgzhxx" class="hoverRed">对公账户信息</span></div>
                            </td>
                            <td>
                                <div v-if="item.status!='等待付款'&&item.status!='已取消'">
                                    <span @click="shfw($event)" data-toggle="modal" data-target="#myModalth" class="hoverRed">退换申请</span>
                                </div>
                                <div v-if="item.status=='交易成功'">
                                    <span data-toggle="modal" data-target="#myModalpj"
                                          class="hoverRed" @click="orderIdClick(it.id,it.order_id)">评价</span>
                                </div>
                                <div v-if="item.status=='等待付款'"><span @click="ggzf(item.order_seqno)" class="hoverRed">立即支付</span></div>
                                <!--<div v-if="item.status=='等待付款'&&item.payment_id!=1" @click="ljzf(item.order_seqno)" class="hoverRed">立即支付</div>-->
                                <!--<div v-if="item.status=='等待付款'&&item.payment_id==1" >线下支付</div>-->
                                <div v-if="item.status=='等待付款'"><span @click="qxdd(item.aid)" class="hoverRed">取消订单</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-else style="text-align: center;font-size: 2.5em;line-height: 350px">
                        您还没有任何订单！
                    </div>
                </div>
            </div>
        </div>
        <!--购物车-->
        <div v-else-if="index == 3">
            <table v-if="cartShow" class="table" style="margin-top: 20px">
                <thead>
                <tr>
                    <th width="16%" style="text-align: left"><label for="allCheck"><input class="allCheck"
                                                                                          @click="vm.inputAll"
                                                                                          id="allCheck"
                                                                                          style="margin: 0 10px;"
                                                                                          type="checkbox"> 全选</label>
                    </th>
                    <th width="40%">商品名称</th>
                    <th width="11%">单价</th>
                    <th width="11%">数量</th>
                    <th width="11%">小计</th>
                    <th width="11%">交易操作</th>
                </tr>
                </thead>
                <tbody v-for="item in myCart">
                <tr style="font-size: 1.1em;border: none">
                    <td colspan="6" style="text-align: left;">
                        <input type="checkbox" @click="vm.inputTwo" class="inputTwo checkSon" style="margin: 0 10px;">
                        <span style="display: inline-block;min-width: 200px;color: #D5282C;margin-top: 15px;">
                                {{item.shop_name}}
                                <i class="fa fa-commenting-o hoverOpacity" style="color: #D5282C" title="客服"
                                   aria-hidden="true"></i>
                            </span>
                    </td>
                </tr>
                <tr v-for="it in item.child_data" style="border: 1px solid #ddd;border-top: none;background: #F5F5F5;">
                    <td style="position: relative;text-align: left;">
                        <input type="checkbox" class="inputOne checkSon" :value="it.aid" :class="{isDel:it.big_del}"
                               @click="vm.inputNum" style="margin: 0 10px;">
                        <div style="width: 100px;height: 100px;padding: 2px;overflow: hidden;display: inline-block;background: #fff;vertical-align: middle;">
                            <img @click="vm.dorShopDetail(it.b_id,'')" style="width: 100%;height: 100%;cursor: pointer;"
                                 :src="it.img_url" alt="">
                        </div>
                        <div v-if="it.big_del" :style="activeDel"></div>
                    </td>
                    <td style="position: relative;text-align: left;">
                        <div style="display: inline-block;width: 350px;overflow: hidden;vertical-align: top;padding: 10px;">
                            <div style="height: 62px;overflow: hidden;"><span class="hover_head"
                                                                              @click="vm.dorShopDetail(it.b_id,'')">{{it.title}}</span>
                            </div>
                            <div style="display: inline-block;" v-if="it.motion_id!=0">
                                <div style="display: inline-block;color: #aaa">促销信息 <span
                                        style="color: #fff;background: #D5282C;padding: 0 8px;">{{it.child_title}}</span>
                                </div>
                                <div v-if="it.gift.length!=0"
                                     style="border: 1px solid #D5282C;padding: 3px;display: inline-block;color: #D5282C">
                                    赠：
                                    <span v-for="its in it.gift">
                                        <img @click="vm.dorShopDetail(its.zp_pro_id,'')"
                                               :alt="its.zp_title" class="toolimg" :src="its.zp_pro_img"/>
                                        <span>x{{its.zp_number}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div v-if="it.big_del" :style="activeDel"
                             style="display: flex;align-items: center;justify-content: center">商品已失效
                        </div>
                    </td>
                    <td style="position: relative;">
                        <div v-if="it.big_del" :style="activeDel"></div>
                        <div style="color: #000;font-size: 1.1em;">￥<span class="price">{{it.seal_price}}</span></div>
                    </td>
                    <td style="position: relative;">
                        <div v-if="it.big_del" :style="activeDel"></div>
                        <jxky-num
                                :title="{'num':it.number,'numMin':it.minimum_order_quantity,'proId':it.b_id,'carId':it.aid,'stock':it.stock_headquarters}"></jxky-num>
                    </td>
                    <td style="position: relative;">
                        <div v-if="it.big_del" :style="activeDel"></div>
                        <div style="color: #D5282C;font-size: 1.1em;">￥<span class="priceXj">{{(it.seal_price*it.number).toFixed(2)}}</span>
                        </div>
                    </td>
                    <td style="position: relative;">
                        <div v-if="it.big_del" :style="activeDel" class="hoverRed"
                             style="display: flex;align-items: center;justify-content: center" @click="delCart($event)">
                            <i aria-hidden="true" class="fa fa-trash-o"></i></div>
                        <div class="hoverRed" @click="vm.goColl(it.id)">移入收藏夹</div>
                        <div class="hoverRed">相似商品</div>
                        <div @click="delCart($event,it.aid)" class="hoverRed">删除</div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
                <tr style="background: #FAFAFA;">
                    <td style="text-align: left;" colspan="2">
                        <label for="allCheckAll"><input @click="vm.inputAll" class="allCheck" id="allCheckAll"
                                                        style="margin: 0 10px;" type="checkbox"> 全选</label>
                        <span @click="delCartCheck" class="hoverRed" style="display: inline-block;margin-left: 10px;">删除选中的商品</span>
                    </td>
                    <td colspan="2" style="text-align: right">
                        共 <span id="num">{{vm.orderNum}}</span> 件商品，合计：<span
                            style="color: #D5282C;font-size: 1.4em;font-weight: bold">￥<span id="total">{{vm.total.toFixed(2)}}</span></span>
                    </td>
                    <td colspan="2" style="text-align: right;padding: 0;">
                        <div class="hoverOpacity" @click="payList"
                             style="display: inline-block;background: #D5282C;font-size: 1.4em;color: #fff;font-weight: bold;padding: 9px;width: 80%;text-align: center;">
                            去结算
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div v-else style="text-align: center;font-size: 2.5em;line-height: 350px;">
                您的购物车空空如也！
            </div>
        </div>
        <!--我的收藏-->
        <div v-else-if="index == 4">
            <jxky-selfgoods v-if="collectShow" :title="myCollect"></jxky-selfgoods>
            <div v-else style="text-align: center;font-size: 2.5em;line-height: 350px;">
                您的收藏空空如也！
            </div>
        </div>
        <!--&lt;!&ndash;店铺收藏&ndash;&gt;-->
        <!--<div v-else-if="index == 5">-->
            <!--<div style="border-bottom: 1px solid #ddd" class="dis_flex">-->
                <!--<div style="color: #FF4502;border-bottom: 2px solid #FF4502;padding: 14px 15px 8px;">-->
                    <!--全部店铺 88-->
                <!--</div>-->
                <!--<div>-->
                    <!--<div class="input-group" style="width: 250px;">-->
                        <!--<input type="text" class="form-control" placeholder="请输入标题" aria-describedby="sizing-addon1">-->
                        <!--<span class="input-group-addon hoverOpacity" id="sizing-addon1">搜店铺</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div v-for="item in 2" class="dis_flex collect" style="padding: 20px 0;">-->
                <!--<div class="dis_flex" style="width: 22%;">-->
                    <!--<div style="width: 40px;height: 40px;border-radius: 50%;padding: 2px;overflow: hidden;margin: 0 auto;">-->
                        <!--<img style="width: 100%;height: 100%;" src="bulid/img/defaultLogo.png" alt="">-->
                    <!--</div>-->
                    <!--<div style="width: 65%;overflow: hidden;">-->
                        <!--<div style="height: 20px;overflow: hidden;color: #000;font-weight: bold;font-size: 1.1em">-->
                            <!--嘉实多旗舰店-->
                            <!--<i class="fa fa-commenting-o hoverOpacity" style="color: #FF4502" title="客服"-->
                               <!--aria-hidden="true"></i>-->
                        <!--</div>-->
                        <!--<div style="height: 20px;overflow: hidden;color: #aaa;font-size: .8em">云南云南云南云南云南云南云南</div>-->
                    <!--</div>-->
                    <!--<div style="line-height: 40px;font-size: 1.2em;padding: 0 10px;">-->
                        <!--<i class="fa fa-arrow-circle-up hoverRed" title="置顶" aria-hidden="true"></i>-->
                        <!--<i @click="collectDel($event)" class="fa fa-trash-o hoverRed" title="删除" aria-hidden="true"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div style="width: 78%;">-->
                    <!--<div class="dis_flex" style="padding: 0 10px;">-->
                        <!--<div class="btn-group" role="group" aria-label="...">-->
                            <!--<span @click="dorHead($event)" class="btn btn-default active">本周上新 11</span>-->
                            <!--<span @click="dorHead($event)" class="btn btn-default">优惠 11</span>-->
                            <!--<span @click="dorHead($event)" class="btn btn-default">热销 11</span>-->
                        <!--</div>-->
                        <!--<div class="hoverRed">查看更多 <i class="fa fa-angle-right" aria-hidden="true"></i></div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<div style="margin-top: 10px;">-->
                            <!--<div v-for="item in 5" class="hoverOpacity fl" style="width: 178px;margin-left: 12px;">-->
                                <!--<div style="width: 178px;height: 178px;padding: 5px;overflow: hidden;border: 1px solid #eee">-->
                                    <!--<img style="max-height: 168px;max-width: 168px;margin: 0 auto;"-->
                                         <!--src="bulid/img/20171211104047314.png" alt=""/>-->
                                <!--</div>-->
                                <!--<div class="tc" style="padding: 10px 0;">-->
                                    <!--<span style="color: #e62129;font-size: 1.5em;font-weight: bold">￥666.00</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div style="text-align: center;font-size: 2.5em;line-height: 350px;">-->
                <!--您的店铺收藏空空如也！-->
            <!--</div>-->
        <!--</div>-->
        <!--收货地址管理-->
        <div v-else-if="index == 5">
            <div class="tc">
                <div><span id="add_car" @click="addrOpen">+添加新地址</span></div>
            </div>
            <div id="user_address">
                <transition name="slide-fade">
                    <div v-show="showAddr" id="show_hid">
                        <div class="user_address_head">新增收货地址 <span @click="showAddr=false"
                                                                    class="user_address_close">X</span></div>
                        <div id="add_adr">
                            <ul class="cr">
                                <li><span class="bor_left_red">收货人</span></li>
                                <li class="adr_width2"><input v-model="vm.nameAdr" type="text"></li>
                                <li><span class="bor_left_red">联系电话</span></li>
                                <li class="adr_width2"><input v-model="vm.phoneAdr"
                                                              onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');"
                                                              type="text"></li>
                            </ul>
                            <ul class="cr">
                                <li><span class="bor_left_red">收货地址</span></li>
                                <li style="background: transparent;width: 620px">
                                    <span class="pick-area pick-area6" name=""></span>
                                    <input type="text" class="pick-input" v-model="vm.adrAdr" placeholder="请输入详细街道"/>
                                </li>
                            </ul>
                            <div class="sure_add" @click="vm.addAdr">确认新增</div>
                        </div>
                    </div>
                </transition>
                <div v-if="adrShow" v-for="(item,ind) in myAdr" class="adr_old pr">
                    <div class="normal_btn" :class="{'active':!ind}">默认收货地址</div>
                    <ul class="adr_old_ul">
                        <li class="cr">
                            <div><span class="bor_left_red">收货人</span></div>
                            <div class="adr_width2"><input class="updInput nameInp" type="text" :value="item.user_name"
                                                           disabled></div>
                        </li>
                        <li class="cr">
                            <div><span class="bor_left_red">收货地址</span></div>
                            <div class="adr_width2">
                                <span style="padding: 0 5px;">{{item.province+item.city+item.area}}</span>
                            </div>
                            <div class="adr_width2">
                                <input class="updInput adrInp" style="padding: 0 5px;" type="text" :value="item.address"
                                       placeholder="请输入详细街道" disabled>
                            </div>
                        </li>
                        <li class="cr">
                            <div><span class="bor_left_red">电话</span></div>
                            <div class="adr_width2"><input class="updInput phoneInp"
                                                           onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');"
                                                           type="text" :value="item.mobile" disabled></div>
                        </li>
                    </ul>
                    <div class="fr normal_btn_r">
                        <div @click="addrUpdate($event,item.ID)" class="normal_btn1">修改</div>
                        <div @click="addrDel($event,item.ID)" class="normal_btn1">删除</div>
                        <div :class="{'active':ind}" @click="addrNorm($event,item.ID)"
                             class="normal_btn1 normal_btn_set">设为默认
                        </div>
                    </div>
                </div>
                <div v-if="!adrShow" style="text-align: center;font-size: 2.5em;line-height: 350px;">
                    您还没有添加收货地址！
                </div>
            </div>
        </div>
        <!--我的足迹-->
        <div v-else-if="index == 6">
            <jxky-selfgoods v-if="historyShow" type="history" :title="history"></jxky-selfgoods>
            <div v-if="!historyShow" style="text-align: center;font-size: 2.5em;line-height: 350px;">
                快去浏览商品留下您的足迹！
            </div>
        </div>
    </section>
<!--更改支付方式-->
    <div id="zffs" style="display: none;width: 400px;margin: 0 auto;padding-top: 20px;">
        <div @click="sureClick($event,'zfb')" class="sure paySure active" style="width: 150px;text-align: center;margin: 7px auto;padding: 3px 0;">
            <i></i>
            <span class="fa">
                        <img style="width: 20px;margin: 3px;" src="bulid/img/zhifubao.png" alt="">
                    </span>
            支付宝支付
        </div>
        <div @click="sureClick($event,'offlinepayment')" class="sure paySure addxy" style="width: 150px;text-align: center;margin: 7px auto;padding: 3px 0;">
            <i></i>
            <span class="fa">
                        <img style="width: 20px;margin: 3px;" src="bulid/img/dianpu.png" alt="">
                    </span>
            货到付款
        </div>
        <!--<div @click="sureClick($event,'offlinepayment')" class="sure paySure addxy" style="width: 150px;text-align: center;margin: 7px auto;padding: 3px 0;">-->
            <!--<i></i>-->
            <!--<span class="fa">-->
                        <!--<img style="width: 20px;margin: 3px;" src="bulid/img/xiny.png" alt="">-->
                    <!--</span>-->
            <!--信用支付-->
        <!--</div>-->
        <div @click="sureClick($event,'weixin')" class="sure paySure" style="width: 150px;text-align: center;margin: 7px auto;padding: 6px 0;">
            <i></i>
            <span style="color:#77CE36;font-size: 1.2em" class="fa fa-weixin" aria-hidden="true"></span>
            微信支付
        </div>
        <div @click="sureClick($event,'UnionPay')" class="sure paySure" style="width: 150px;text-align: center;margin: 7px auto;padding: 3px 0;">
                <i></i>
                <span class="fa">
                            <img style="width: 26px;" src="bulid/img/yinlian.png" alt="">
                        </span>
                银联支付
            </div>
        <div @click="sureClick($event,'Balance')" class="sure paySure" style="width: 150px;text-align: center;padding: 6px 0;margin: 7px auto">
            <i></i>
            <span style="color:#D5282C;font-size: 1.2em; padding: 0 6px;" class="fa fa-usd" aria-hidden="true"></span>
            余额支付
        </div>
    </div>
    <!--评价-->
    <div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModalpj" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="pa_tc" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #D5282C;color: #fff">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                                      style="color: #fff">&times;</span>
                    </button>
                    <h4 class="modal-title">评价</h4>
                </div>
                <div class="modal-body dis_flex" style="width: 800px;margin: 10px;">
                    <div style="width: 500px;border-right: 1px dotted #ddd;text-align: center">
                        <div style="color: #000;font-size: 1.1em">
                            <div>
                                <span style="vertical-align: top">商品与描述相符：</span>
                                <i @click="star($event,'1')" v-for="item in 5" :class="{active:item<1}"
                                   class="fa-star-pj"></i>
                            </div>
                            <div>
                                <span style="vertical-align: top">商家的服务态度：</span>
                                <i @click="star($event,'2')" v-for="item in 5" :class="{active:item<1}"
                                   class="fa-star-pj"></i>
                            </div>
                            <div style="margin-top: 10px;">
                                <span @click="pjSpan($event,'1')" class="pjSpan">正品</span>
                                <span @click="pjSpan($event,'2')" class="pjSpan">服务好</span>
                                <span @click="pjSpan($event,'3')" class="pjSpan">性价比高</span>
                                <span @click="pjSpan($event,'4')" class="pjSpan">下次还来</span>
                                <span @click="pjSpan($event,'5')" class="pjSpan">便宜</span>
                            </div>

                        </div>
                        <div class="input-group" style="width: 95%;position: relative;">
                            <textarea v-model="textVal" name="" class="form-control" cols="30" rows="6"
                                      style="padding-bottom: 26px;resize: none" maxlength="150"></textarea>
                            <span style="position: absolute;bottom: 5px;left: 8px;color: #999;z-index: 22">
                                还可以输入<span style="color: #FF4502;">{{150-textVal.length}}</span>字
                            </span>
                        </div>
                        <div style="width: 96%;text-align: left;padding-left: 4px;">
                            <jxky-pic title="2"></jxky-pic>
                        </div>

                    </div>
                    <div style="width: 300px;text-align: center">
                        <img style="margin-top: 80px;" src="bulid/img/twoCode.png" alt="">
                    </div>

                </div>
                <div class="modal-footer">
                    <label for="nmCheck" style="color: #000;font-weight: normal"><input type="checkbox" id="nmCheck"
                                                                                        style="vertical-align: top">
                        全部匿名评论</label>
                    &nbsp;
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button @click="discuss($event)" type="button" class="btn btn-danger">发表评论</button>
                </div>
            </div>
        </div>
    </div>
    <!--退换货-->
    <div data-backdrop="static" data-keyboard="false" class="modal fade" id="myModalth" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="pa_tc" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">售后服务</h4>
                </div>
                <div class="modal-body" style="width: 700px;">
                    <div v-html="spDetail"></div>
                    <div class="input-group" style="width: 100%;">
                        <div style="background: #F5F5F5;padding: 8px 20px;"><span
                                style="border-left: 3px solid #D5282C;padding-left: 8px;display: inline-block;text-align: left;">退换货描述</span>
                        </div>
                        <textarea name="" class="form-control" style="resize: none" cols="30" rows="5"></textarea>
                    </div>
                    <div style="padding: 8px 20px;">
                        <span style="border-left: 3px solid #D5282C;padding-left: 8px;display: inline-block;text-align: left;">选择退换原因</span>
                        <select name="form-control" id="">
                            <option value="">不想买了</option>
                            <option value="">拍错，重拍</option>
                            <option value="">其它</option>
                        </select>
                    </div>
                    <jxky-pic title="1"></jxky-pic>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-danger">提交</button>
                </div>
            </div>
        </div>
    </div>

    <jxky-friend></jxky-friend>
    <div id="loginModel" class="dis_no">
        <jxky-login title="model"></jxky-login>
    </div>
    <!--foot-->
    <div id="foot">
        <jxky-foot></jxky-foot>
    </div>
</div>

<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="bulid/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
<script src="vue/dist/vue.min.js"></script>
<script src="component/comp.min.js"></script>
<script src="bulid/js/md5.min.js"></script>
<script src="bulid/js/jigsaw.js"></script>
<script src="bulid/js/pick-pcc.js"></script>
<script src="bulid/layer/layer.min.js"></script>
<script src="bulid/js/fileUpload.min.js"></script>
<!--列表滚动-->
<script src="bulid/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
<script src="bulid/src/myself.min.js"></script>
</body>
</html>