<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>同致相伴，一路顺畅</title>
    <link rel="icon" href="bulid/img/defaultLogo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="bulid/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bulid/css/login.css">
    <link rel="stylesheet" href="bulid/css/foot.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="bulid/css/base.css">
    <link rel="stylesheet" href="bulid/css/index.css">
    <link rel="stylesheet" href="bulid/css/brand.css">
    <link rel="stylesheet" type="text/css" href="napaStore/down.css">
    <script src="bulid/js/hm.baidu.min.js"></script>
    <script type="text/javascript" src="napaStore/modernizr.js"></script>
    <script>
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            window.location.href='appPhone.html'
        }
    </script>
</head>
<body style="background: url('napaStore/downbg.png') no-repeat 100% 100%;background-attachment: fixed;background-size: cover">
<div id="index" v-cloak class="container-fluid" style="padding: 0;">
    <!--<jxky-header></jxky-header>-->
    <section style="margin-top: 0;z-index: 9999" class="dis_flex">
        <h1 style="margin: 0;cursor: pointer;display: inline-block;"><img onclick="window.location.href='index.html'" src="bulid/img/indexLogo.png" alt="logo"></h1>
        <div style="line-height: 147px">
            <img src="napaStore/down01.png" alt="">
        </div>
    </section>
    <!--<section style="text-align: center;height: 500px;overflow: auto">-->
    <!--<div v-for="item in 17"><img :src="'napaStore/'+item+'.png'" alt=""></div>-->
    <!--</section>-->
    <div class="wrapper active-page1">
        <div v-for="item in 17" class="page" :class="'page'+item">
            <div style="height: 500px;overflow: hidden;text-align: center;line-height: 500px">
                <!--<img style="vertical-align: middle;max-height: 100%" :src="'napaStore/napa ('+item+').png'" alt="">-->
                <img style="vertical-align: middle;max-height: 100%" :src="'napaStore/'+item+'.png'" alt="">
            </div>
        </div>
    </div>
    <div class="nav-panel">
        <div class="scroll-btn up"></div>
        <div class="scroll-btn down"></div>
        <nav>
            <ul>
                <li v-for="item in 17" :data-target="item" :class="'nav-btn nav-page'+item"></li>
            </ul>
        </nav>
    </div>
    <div style="position: fixed;right: 0;top: 165px;text-align: right">
        <img style="width: 80%;" src="napaStore/twoCodeApp.png" alt="">
    </div>
    <div style="position: fixed;right: 0;top: 570px;text-align: right;z-index: 9999999">
        <div style="margin-bottom: 10px;position: relative;">
            <img class="hoverOpacity" style="width: 200px;" src="napaStore/appAnr.png" @click="window.open('https://itunes.apple.com/cn/app/id1420433129?mt=8')" alt="">
        </div>
        <div class="pr">
            <img class="hoverOpacity" @mouseenter="show=!show" @mouseleave="show=!show" style="width: 200px;" src="napaStore/appIos.png" alt="">
            <transition name='slide-fade'>
                <div v-show="show" style="position: absolute;left: 0;bottom: 55px;">
                    <img style="width: 100%;" src="napaStore/android.png" alt="">
                </div>
            </transition>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="bulid/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
<script src="vue/dist/vue.min.js"></script>
<script src="component/comp.min.js"></script>
<script src="bulid/layer/layer.min.js"></script>
<!--列表滚动-->
<script src="bulid/js/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
<script>
    new Vue({
        el: "#index",
        data:{
            show:false,
            show1:false,
        }
    });
    $(document).ready(function () {
        var $wrap = $('.wrapper'), pages = $('.page').length, scrolling = false, currentPage = 1, $navPanel = $('.nav-panel'), $scrollBtn = $('.scroll-btn'), $navBtn = $('.nav-btn');
        function manageClasses() {
            $wrap.removeClass(function (index, css) {
                return (css.match(/(^|\s)active-page\S+/g) || []).join(' ');
            });
            $wrap.addClass('active-page' + currentPage);
            $navBtn.removeClass('active');
            $('.nav-btn.nav-page' + currentPage).addClass('active');
            scrolling = true;
            setTimeout(function () {
                scrolling = false;
            }, 1000);
        }
        function navigateUp() {
            if (currentPage > 1) {
                currentPage--;
                if (Modernizr.csstransforms) {
                    manageClasses();
                } else {
                    $wrap.animate({ 'top': '-' + (currentPage - 1) * 100 + '%' }, 1000);
                }
            }
        }
        function navigateDown() {
            if (currentPage < pages) {
                currentPage++;
                if (Modernizr.csstransforms) {
                    manageClasses();
                } else {
                    $wrap.animate({ 'top': '-' + (currentPage - 1) * 100 + '%' }, 1000);
                }
            }
        }
        $(document).on('mousewheel DOMMouseScroll', function (e) {
            if (!scrolling) {
                if (e.originalEvent.wheelDelta > 0 || e.originalEvent.detail < 0) {
                    navigateUp();
                } else {
                    navigateDown();
                }
            }
        });
        $(document).on('click', '.scroll-btn', function () {
            if ($(this).hasClass('up')) {
                navigateUp();
            } else {
                navigateDown();
            }
        });
        $(document).on('click', '.nav-btn:not(.active)', function () {
            if (!scrolling) {
                var target = $(this).attr('data-target');
                if (Modernizr.csstransforms) {
                    $wrap.removeClass(function (index, css) {
                        return (css.match(/(^|\s)active-page\S+/g) || []).join(' ');
                    });
                    $wrap.addClass('active-page' + target);
                    $navBtn.removeClass('active');
                    $(this).addClass('active');
                    currentPage = target;
                    scrolling = true;
                    setTimeout(function () {
                        scrolling = false;
                    }, 1000);
                } else {
                    $wrap.animate({ 'top': '-' + (target - 1) * 100 + '%' }, 1000);
                }
            }
        });
    });
    $(".nav-panel li:first-child").addClass("active");
</script>
</body>
</html>